@media (max-width: 765px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding: 10px 20px;
    }
    
    section{
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 30px;
        gap: 15px;
    }

    .cards{
        display: flex;
        flex-direction: column;
    }
    .card{
        padding: 10px;
        width: 90%;
        margin: auto;
        
    }
}